<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=0.5, shrink-to-fit=no" name="viewport" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/assets/style.css' | url }}" />
    <link rel="icon" href="{{ './assets/favicon.ico' | url }}" />
  </head>

  <body>

    <div id="navbar"><br>
      <p class="blinkFrame blink">
        &lceil;
      </p>
      <p class="blinkFrame blink">
        &rceil;</p>
        <br><h1>Josh's WebPage</h1>
      <p class="blinkFrame blink">
        &lfloor;</p>
      <p class="blinkFrame blink">
        &rfloor;</p>
        <p><br></p>
      <br>
      <br>
      <p id="navline">
        <a href="{{ '/index#about' | url }}">About</a>
        |
        <a href="{{ '/index#library' | url }}">Library</a>
        |
        <a href="{{ '/index#gallery' | url }}">Gallery</a>
        |
        <a href="{{ '/index#projects' | url }}">Projects</a>
        </p>
        <hr/>
    </div>

    <main>
      
        {{ content }}
        <br>
   
    </main>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
  </body>

</html>