---
layout: base.liquid
---

<div class="article">
  <div class="page-controls container">
    {% if previous %}
      <a href="{{ previous }}">
        <h1>←</h1>
      </a><hr><br><div class="art-label">
        <h3>{{ name }}</h3>
      </div><br>
    {% endif %}
    {% if next %}
      <a href="{{ next }}">
        <div class="flex-container-column centered art">
          <img
            class="img-fluid"
            width="auto"
            height="500"
            src="{{ path }}"
            alt="{{ name }}" /></div>
      </a>
    {% else %}
      <div class="flex-container-column centered art">
        <img
          class="img-fluid"
          src="{{ path }}"
          alt="{{ name }}" />
      </div>
    {% endif %}
    <p>
      {{ content }}
    </p>
    <br><i class="date">{{ date | date: "%b %d, %Y" }}</i>
    {% if next %}
      <br><br><hr><br>
      <a href="{{ next }}">
        <h1>→</h1>
      </a>
    {% endif %}
  </div>
</div>