---
    layout: base.liquid
    title: Gallery
    tags: nav
    date: 2023-07-25
    header: Gallery
---

<div class="article">
   {% for pic in collections.art %}
    <span class="pic-label">{{ pic.data.name }}</span><br><br>
       <a href="{{ pic.url }}">
           <div class="gallery-pic-container">
               <div class="flex-container-column centered">
                   <img class="img" width="auto" height="300" src="{{ pic.data.path }}" alt="{{ pic.data.name }}"/>
               </div>
           </div>
           <i class="date">{{ pic.data.date |  date: "%b %d, %Y" }}</i>
       </a><br><hr><br>
   {% endfor %}